<div class="psss">
    <mat-toolbar>
        <span class="container-fluid">
        <!-- <a routerLink="">
            <img src="assets/img/2x.png">
          </a> -->

            <div class=" col-md-1">
                <a href="/"><img id="logo" src="//static.tvmaze.com/images/tvm-header-logo.png"></a>
            </div>


        </span>
      <a mat-button routerLink="people">People</a>
      <a mat-button routerLink="shows">Shows</a>
      <a mat-button routerLink="season">Season</a>

      <div class="spacer"></div>
      <a mat-button routerLink="register" style="padding-right: 40px;">Sign In/ Sign Up</a>
      <a mat-button routerLink="logout">Logout</a>
    </mat-toolbar>
  </div>


