<app-navbar></app-navbar>
<!-- <app-shows></app-shows> -->
<router-outlet></router-outlet>


<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" mdbBtn color="white" outline="true" rounded="true"
        class="waves-light" mdbWavesEffect>Sign up!</a>
      </li>
    </ul>

  </div>

  <div class="footer">
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
            Nawaz Rai:
            {{today}}
        </div>
    </footer>
</div>


